@import "../../../sass/_placeholders.scss";
@import "../../../sass/_colors.scss";
@import "../../../sass/_mixins.scss";

.WorkExperiencePageContainer {
  @extend %pageLayout;
}

.jobCard {
  img {
    width: 140px;
    height: 140px;
  }
  align-items: center;
  display: flex;
  padding: 20px;
  background: white;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-left: 10%;
  width: 80%;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  &.night {
    background: $nightBG;
    .description {
      box-shadow: 0px 0px 15px -5px $niceBlue;
      background: darken($niceBlue, 30%);
    }
  }
  .description {
    overflow-y: auto;
    p {
      margin: 0;
    }
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    top: 0;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    padding: 20px;
    padding-right: 10%;
    background: #19bbcf;
    height: 100%;
    transform: translateX(-90%);
    transition: transform 400ms ease-in-out;
    &:hover {
      transform: translateX(0);
    }
  }
  @include mobile() {
    width: 100%;
    flex-direction: column;
    img {
      display: none;
    }
  }

  .details {
    flex-grow: 1;
  }
}
