.infoCardContainer {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  margin-top: auto;
    svg {

      width: 25px;
      fill: white;
      margin-right: 15px;
      cursor: pointer;
      transition: transform 100ms linear;
      &.email {
        width:29px;
      }
      &:hover {
        transform: scale(1.1)
      }
    }
} 