@import '../../sass/_colors.scss';

.sideMenu {
  position: fixed;
  width:170px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: hsl(208, 58%, 35%);
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(141deg, #1be3af, #1ba4e3);
  background-size: 100% 100%;
  transition: background 200ms linear;
  &.night {
    background:  $nightBG;
    a {
      color: #ffffff 
    };
  }
}


