@import "../../sass/_colors.scss";
@import "../../sass/_mixins.scss";
.contentContainer {
  box-sizing: border-box;
  overflow: hidden;
  padding: 25px calc(5vw - 1vmin);
  margin: 0 auto;
  margin-left: 170px;
  transition: background 200ms linear;

  @include mobile() {
    padding: 35px 3vw;
    margin-left: 50px;
  }

  mark {
    background: none;
    font-weight: bolder;
  }
  &.night {
    background: lighten($nightBG, 3%);
    color: white;
    mark {
      color: $neonGreen;
    }
  }
}

:global {
  .fade-enter {
    opacity: 0;
    z-index: 1;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
}
