
@import '../../sass/_colors.scss';

.contentContainer {
  box-sizing: border-box;
  overflow: hidden;
  padding: 25px calc(5vw - 5px);
  margin: 0 auto;
  margin-left: 150px;
  transition: background 200ms linear;
  &.night {
    background: lighten($nightBG, 3%);
    color: white
  }
}
:global {
  .fade-enter {

    opacity: 0;
    z-index: 1;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

}